In [7]:
import pandas as pd
import matplotlib as plt
tx_data= pd.read_csv("datas.csv", encoding="cp1252")

In [8]:
tx_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [9]:
tx_data.shape

(541909, 8)

In [10]:
tx_data.isnull().sum(axis=0)

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [14]:
tx_data['InvoiceDate'] = pd.to_datetime(tx_data['InvoiceDate'], format="%m/%d/%Y %H:%M").dt.date
tx_data = tx_data[pd.notnull(tx_data['CustomerID'])]
tx_data = tx_data[(tx_data['Quantity']>0)]

tx_data['Total_Sales'] = tx_data['Quantity'] * tx_data['UnitPrice']
necessary_cols = ['CustomerID', 'InvoiceDate', 'Total_Sales']
tx_data = tx_data[necessary_cols]
tx_data.head()

ValueError: time data "01-12-2010 08:26" doesn't match format "%m/%d/%Y %H:%M", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [15]:
import pandas as pd

# Assuming tx_data is already loaded as a DataFrame

# Correct the date format
tx_data['InvoiceDate'] = pd.to_datetime(tx_data['InvoiceDate'], format="%d-%m-%Y %H:%M").dt.date

# Remove rows with missing CustomerID
tx_data = tx_data[pd.notnull(tx_data['CustomerID'])]

# Keep records with positive quantity
tx_data = tx_data[(tx_data['Quantity'] > 0)]

# Calculate Total_Sales
tx_data['Total_Sales'] = tx_data['Quantity'] * tx_data['UnitPrice']

# Select necessary columns
necessary_cols = ['CustomerID', 'InvoiceDate', 'Total_Sales']
tx_data = tx_data[necessary_cols]

# Display the first few rows of the cleaned DataFrame
print(tx_data.head())

   CustomerID InvoiceDate  Total_Sales
0     17850.0  2010-12-01        15.30
1     17850.0  2010-12-01        20.34
2     17850.0  2010-12-01        22.00
3     17850.0  2010-12-01        20.34
4     17850.0  2010-12-01        20.34